.nav {
    display: flex;
    background-color: #011657;
    color: #fff;
    height: 148px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
}


.links {
    list-style: none;
    display: flex;
    margin-right: 1rem;
}

.links li {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.menu {
    display: none;
  }
  
  #checkbox:checked ~ .menu {
    display: fixed;
    z-index: 100;
  }